{{#partial "content"}}

    <h1 class="text-center">Heroes</h1>

    {{#if heroes}}
        {{#each heroes}}
            <div class="card-hero">
                <div class="card" style="width: 18rem;">
                    <img src="/images/marvel-3.jpeg" class="card-img-top" height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p>Age: {{age}}</p>
                        <p>Special Powers: {{superPower}}</p>
                        <p>Weakness: {{weakness}}</p>


                        <div class="pt-4">
                            <a href="/heroes/{{id}}" class="text-success">View My Stats</a>
                            <a href="/heroes/{{id}}/update" class="text-info">Edit this Hero</a>
                            <a href="/heroes/{{id}}/delete" class="text-danger">Delete</a>

                        </div>


                    </div>
                </div>
            </div>

        {{/each}}

    {{else}}
        <div class="alert alert-danger">
            <p class="text-center">No Heroes available</p>
        </div>


    {{/if}}



    <div class="adds text-center">
        <button><a href="/form">Add a hero</a></button>
        <button><a href="/heroes/delete">Delete all</a></button>
    </div>


{{/partial}}

{{> layout.hbs}}