{{#partial "content"}}


    <div class="alert alert-info">
        <h1>{{squads.name}}</h1>
        <p>Members: {{squads.maxNumberOfHeros}}</p>
        <p>Mission: {{squads.mission}}</p>
    </div>

    {{#each heroes}}
        <h1>{{heroes.name}}</h1>
        <p>{{heroes.age}}</p>
        <p>{{specialPower}}</p>
    {{/each}}
{{/partial}}

{{> layout.hbs}}