{{#partial "content"}}


    <div class="alert alert-info">
        <h1>{{name}}</h1>
        <p>Members: {{numberOfHeroes}}</p>
        <p>Mission: {{mission}}</p>
    </div>

    {{#each heroes}}
        <p>{{name}}</p>
        <p>{{age}}</p>
        <p>{{specialPower}}</p>
    {{/each}}
{{/partial}}

{{> layout.hbs}}